body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

div {
  color: red;
  width: 98%;
  font-family: Play;
  background-color: white;
  font-size: 30px;
  padding: .5%;
  padding-left: 3%;
  padding-right: 0;
  margin-bottom: 5%;
  margin-top: 0;
}

#game-canvas{
  border: 2px solid white;
}
